body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 100%;
    max-width: 200px;
}

.logo img {
    width: 100%;
    max-width: 100%;
}

.contact-and-mail {
    padding: 10px 0;
}

.contact-and-mail a {
    display: block;
    text-decoration: none;
    outline: 0;
}

.mobilenumber,
.mobilenumber:hover {
    font-size: 25px;
    color: #e90000;
    font-weight: 600;
}

.mailus {
    color: #555555;
    font-size: 16px;
}

.mailus:hover {
    color: #e90000;
}

.callus {
    padding: 5px 20px;
}

.callus a .fa {
    color: #757575;
    border: 2px solid #cccccc;
    padding: 10px;
    font-size: 30px;
    transition: all ease-in-out 0.2s;
}

.callus a .fa:hover {
    color: #e90000;
    border: 2px solid #e90000;
}

.cust-nav {
    padding: 10px 0;
    background-color: #eb0000;
    color: #ffffff
}

.cust-nav ul {
    margin: 0;
}

.cust-nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
}

.cust-nav ul li a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
    outline: 0;
}

.cust-nav ul li a:hover {
    color: #01509f;
}

.admission-sec {
    padding: 40px 0;
    position: relative;
    z-index: 999;
    margin-top: -280px;
}

.admission-sec h1 {
    font-size: 50px;
    font-weight: 800;
    color: #e90000;
}

.admission-sec h5 {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}

.admission-sec h6 {
    font-size: 22px;
    font-weight: 500;
    color: #000000;
}

.queryform {
    padding: 20px;
    background: #01509f;
    border-radius: 10px;
    margin-right: 100px;
    width: 70%;
    position: relative;
    float: right;
    z-index: 999;
    color: #ffffff;
}

.queryform h3 {
    padding: 5px 0 15px 0;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
}

.queryform .form-group {
    margin-bottom: 20px;
}

.queryform .form-group .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #b3cbe2;
    color: #b3cbe2;
    font-size: 16px;
    -webkit-appearance: none;
    appearance: none;
}
.queryform .form-group select.form-control{
    background: url(../images/select-bg.png) no-repeat center right 15px;
}
.queryform .form-control::placeholder{
    color: #b3cbe2 !important;
}

.queryform .form-control::-webkit-input-placeholder {
    color: #b3cbe2!important;
}

.queryform input::-webkit-input-placeholder {
    color: #b3cbe2!important;
}
.queryform ::-webkit-input-placeholder {
    color: #b3cbe2 !important;
}
.cust-submit{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    background: #e90000;
    border: 0;
    text-align: center;
    padding: 10px 30px;
    outline: 0;
    box-shadow: none;
    transition: all ease 0.2s;
}
.cust-submit:hover, .cust-submit:focus{
    background: #000000;
    color: #ffffff;
    outline: 0;
    box-shadow: none;
}
.aboutus-sec{
    padding: 50px 0;
}
.aboutus-sec h3{
    font-weight: 800;
    font-size: 28px;
    color: #01509f;
    margin-bottom: 80px;
    position: relative;
}
.aboutus-sec h3:before{
    content: '';
    position: absolute;
    left: 0;
    top: -11px;
    width: 50px;
    height: 3px;
    background: #01509f;
    z-index: 9999;
}
.aboutus-sec p{
    font-weight: 300;
    font-size: 28px;
    color: #555555;
}
.offerinfo p{
    color: #000000;
    font-size: 24px;
    line-height: 44px;
}
.numberlist-outer{
    padding: 40px 0;
}
.numberlist{
    padding: 15px;
}
.numberlist h1{
    font-size: 80px;
    font-weight: 200;
    color: #000000;
    padding: 0;
    margin: 0;
}
.numberlist h5{
    font-size: 22px;
    font-weight: 800;
    color: #01509f;
    line-height: normal;
}
.placement-sec{
    padding: 50px 0;
    background: url(../images/placement.jpg) no-repeat top 60px  right;
    background-size: 40% auto;
}
.placement-sec h3{
    font-size: 60px;
    line-height: 70px;
    font-weight: 800;
    color: #01509f;
    padding: 5px 0 15px 0;
}
.placement-sec p{
    font-size: 20px;
    color: #000000;
    padding: 10px 0;
    line-height: 28px;
}
.our-clients{
    padding: 30px 0;
}
.our-clients h3{
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.our-clients ul{
    padding: 20px 0;
    margin: 0;
}
.our-clients ul li{
    width: 23%;
    padding: 10px;
    margin:  10px;
    list-style: none;
    border: 1px solid #dcdcdc;
}
.our-clients ul li img{
    width: 100%;
    max-width: 100%:
}
.knowmore a{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    color: #000005;
    background: #e5e5e6;
    transition: all ease-in-out 0.2s;
    text-decoration: none;outline: 0;
    margin: 10px 0;
}
.knowmore a:hover{
    color: #ffffff;
    background: #eb0000;
    text-decoration: none;outline: 0;
}
footer{
    padding: 30px 0 0;
    background: #2e2e2e;
    color: #ffffff;
}
footer h3{
    font-size: 26px;
    font-weight: 700;
    padding: 5px 0 10px;
    color: #ffffff;
}
footer p{
    font-size: 15px;
    color: #ffffff;
    line-height: 24px;
    margin: 0;
}
footer a{
    color: #ffffff;
}
footer a:hover{
    color: #e90000
}
.nestfooter {
    background: #ec1f23;
    padding: 16px;
    margin-top: 30px;
}
.nestfooter p{
    font-size: 14px;
    line-height: normal;
}
footer .social{
    padding: 0;
    margin: 0;
}

footer .social li{
    display: inline-block;
    padding: 0;
}
footer .social li .fa{
    font-size: 20px;
    padding: 8px;
    border: 1px solid #ddd;
    background: #848484;
    border-radius: 50%;
    transition: all ease-in-out 0.2s;
    width: 40px;
    height: 40px;
    text-align: center;
}
footer .social li .fa:hover{
    color: #ffffff;
    background: #e90000;
    border-color: #eb0000;
}